# Ignorar archivos de resultados de Allure
build/allure-results/
build/reports/
build/test-results/

# Ignorar archivos temporales de construcción
build/classes/
build/tmp/

# Ignorar archivos generados por Gradle
.gradle/
gradle-app.setting
build/
!gradle-wrapper.jar

# Ignorar archivos de configuración local (si los hay)
.idea/
*.iml
*.log
*.swp
*.class